{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ticketing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static "assets/css/styles.min.css" %}">

</head>

<body>
    <!-- Start: Dark NavBar -->
    <div class="">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" href="/">Ticketing</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="text-dark nav-link" href="/events">All Events</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" aria-expanded="false" href="#">Categories</a>
                            <div class="dropdown-menu" role="menu">
                                {% for category in categories %}
                                    <a class="dropdown-item" role="presentation" href="{% url "category" pk=category.pk %}">{{category.name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                    {% if isLoggedIn %}
                            <form class="form-inline mr-auto" target="_self">
                                <div class="form-group"><label for="search-field"></label></div>
                            </form><a style="margin-right: 10px;" class="btn btn-dark action-button" role="button" href="/logout">Logout</a><a class="mr-4 btn btn-dark action-button" role="button" href="/cart">Cart</a><a class="mr-4 btn btn-light action-button" role="button" href="/orders">My Orders</a></div>
                    {% else %}
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label></div>
                        </form><a style="margin-right: 10px;" class="btn btn-dark action-button" role="button" href="/login">Log In</a><a class="btn btn-dark action-button" role="button" href="/signup">Sign Up</a></div>
                    {% endif %}

            </div>
        </nav>
    </div>
    <!-- End: Dark NavBar -->
    {% block content %}
    {% endblock %}
    <!-- Start: Footer Dark -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Start: Services -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Categories</h3>
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url "category" pk=category.pk %}">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End: Services -->
                    <!-- Start: About -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about">Team</a></li>
                        </ul>
                    </div>
                    <!-- End: About -->
                    <!-- Start: Footer Text -->
                    <div class="col-md-6 item text">
                        <h3>Ticketing</h3>
                        <p>Ticketing is an extension to one of the Assignment questions which basically aims at extending the functionality of the web app to register more events with categories with a systematic way to browse through the events and various categories along with a Payment page too.
                            This will be made easy to use with the addition of a smooth UI flow using Bootstrap in the page.</p>
                    </div>
                    <!-- End: Footer Text -->
                    <!-- Start: Social Icons -->
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    <!-- End: Social Icons -->
                </div>
                <!-- Start: Copyright -->
                <p class="copyright">Ticketing © 2020</p>
                <!-- End: Copyright -->
            </div>
        </footer>
    </div>
    <!-- End: Footer Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>