{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<style>
    body {
        background-color: white;;
        background-image: linear-gradient(to bottom right,#0051ff, rgb(20, 231, 161));
    }
</style>
    <div class="container" style="margin: 30px 0px;">
        {% if empty %}
            {% if payment %}
                <div style="margin: 20px;" class="alert alert-success" role="alert">
                    <p>Thank you for booking a ticket to the following events:</p>
                    <ul>
                    {% for event in events %}
                        <li>{{event}}</li>    
                    {% endfor %}      
                    </ul>
                </div>
            {% else %}
                <div style="text-align: center;background-color: hsla(210, 29%, 24%, 0.836);" class="ml-auto jumbotron text-light">
                    <h4>Your Cart is Empty!</h4>
                    <h6 style="color: white;" class=""><a href="/events">Click here</a> to explore our events</h6>
                </div>
            {% endif %}
        {% else %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-4">
                {% for event in events %}
                    <div class="card shadow mb-3" style="background-color: #2c3e50a2;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8 text-center"><img class="img-fluid border rounded shadow" src="/media/{{event.event.image}}"></div>
                                <div class="col-4">
                                    <a class="mt-2" href="{% url "event" pk=event.event.pk %}"><strong>{{event.event.name}}</strong></a>
                                    <p class="mt-2"><i class="fa fa-rupee"></i><strong>{{event.event.fee}}</strong></p>
                                    <p class="mt-2"><strong>{{event.event.date}}</strong></p>
                                    <a href="{% url "delete" pk=event.event.pk %}" role="button" class="btn btn-danger" style="height: 30px">X</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>Total Cost</p>
                            </div>
                            <div class="col text-right">
                                <p><i class="fa fa-rupee"></i>{{totalcost}}</p>
                            </div>
                        </div>
                        <hr style="background-color: #ffffff;">
                        <div class="row">
                            <div class="col text-right">
                                    <div class="form-group">
                                        <a href="/payment" role="button" style="background-color: #3498db; border: none;" class="btn btn-primary btn-block" type="submit">Pay Now!</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}